body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#presentation p {
    text-align: justify;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.features div {
    text-align: center;
}
